@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
  margin: 0;padding: 0;
  box-sizing: border-box;
 
}
html{
  scroll-behavior: smooth;
}

.nav-bar{
 
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  width: 100%;

}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(227, 53, 53,0.2);
  
}

nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(255, 254, 254);
}

nav a:hover{
  background-color: #f06060;
}
nav li:first-child{
  margin-right: auto;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}

.main{
 font-size: 45px;
 display: flex;
 height: 750px; 
 width: 100%;
 justify-content: space-between;
 align-items: center;
 background-image: url(img/bg.png);
 background-repeat: no-repeat;
 background-size: cover;

}

.main-section{
  margin-left: 10px;
  width: 50%;
}
p i{
  color: red;
  font-style: normal;
  font-weight: bold;
}

.main-section2{
 height: 650px;
    width: 50%;
}

.main-image{
  background-image: url(img/main1.png);
  background-size: cover;
  margin-top: 0px;
  height: 570px;
  width: 100%;
  

}

.social{
  width: 16px;
  height: 16px;
}


button{
  width: 100px;
  height: 40px;
  color: black;
  position: relative;
  background-color: antiquewhite;
  border-radius: 15px;
 
}
button:hover{
  background-color: rgb(244, 78, 75);
  color: black;
  
}
a { 
  text-decoration: none;
  color: black;

}


.details{
  height: 750px;
  width: 100%;
  margin-top: 0px;
  background: rgb(36,11,0);
  background: linear-gradient(90deg, rgba(36,11,0,1) 48%, rgba(139,10,10,1) 100%, rgba(119,40,7,1) 100%);
  

}

.blank{
  height: 50px;
}

h2{
  
  text-align: center;
  font-style: italic;
  font-size: 50px;
  color: #ffffff;
}


 .avatar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 230px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  
 }

 .avatar:hover{
     box-shadow: 0 4px 8px 0 rgba(236, 123, 16, 0.9), 0 6px 20px 0 rgba(240, 142, 89, 0.19);
  }

.summary{
  text-align: center;
  margin-top: 20px;
  color: white;
}
.skills{
  width: 100%;
  height: 750px;
  background: rgb(36,11,0);
  background: linear-gradient(90deg, rgba(36,11,0,1) 48%, rgba(139,10,10,1) 100%, rgba(119,40,7,1) 100%);
  
}

.tlt{
  margin-bottom: 20px;
  color: #ffffff;
}
.box1{
   
   width: 100%;
   height:300px;
   display: flex;
   justify-content: space-evenly;
}

.s-box{
  border-radius: 30px;
  background-color: rgb(249, 245, 241);
  box-shadow: inset 11px 11px 16px #969696,
              inset -11px -11px 16px #c4c2c2;
  width: 150px;
  height: 150px;
  margin-left: 15px;

}

.s-box:hover{
   background-color: rgb(252, 237, 226);
   transition: all .5s ease-in-out 0s;
   background: rgb(255, 255, 255);
   animation: effect 0.5s ease-in-out 0s 1 normal;
}

@keyframes effect{
  0%{transform: skew(0deg);}
  50%{transform: skew(5deg);}
  100%{transform: skew(-5deg);}
}
.icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
h4{
   text-align: center;
}

.box2{
  background-color: beige;
  width: 50%;
   height: 600px;
}

.title{
  text-align: center;
  margin-top: 10px;
  height: 60px;
   font-size: 50px;
   font-family: cursive;
   color: rgb(246, 99, 83);
   margin-bottom: 20px;
}

.icon{
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.column{

  text-align: start;
  margin-left: 200px;
  width: 30%;
}

.showcase{
  width: 100%;
  height: 750px;
  background: rgb(36,11,0);
  background: linear-gradient(90deg, rgba(36,11,0,1) 48%, rgba(139,10,10,1) 100%, rgba(119,40,7,1) 100%);
  
}
.box3{
  width: 100%;
  height: 330px;
  
}

.gallery{
  display: flex;
  width: 100%;
  height:300px ;
  gap: 5px;
  justify-content: space-evenly;
 
}
.gallery > img{
 width: 20%;
 height: 200px;
 object-fit: contain;
 border-radius: 5px;
 transition: all ease 0.5s;
 justify-content: center;
 

}

.gallery > img:hover{
  width: 80%;
  height: 300px;
}

.connect{
  width: 100%;
  height: 650px;
  background: rgb(36,11,0);
  background: linear-gradient(90deg, rgba(36,11,0,1) 48%, rgba(139,10,10,1) 100%, rgba(119,40,7,1) 100%);
}

#contactForm {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(236, 123, 16, 1), 0 6px 20px 0 rgba(240, 142, 89, 2.5);
  
}
#contactForm input, #contactForm textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.social-logo{
  text-align: center;
}


#contactForm input[type="submit"] {
  background: #3092f0;
  border: 0;
  color: white;
  cursor: pointer;
}



.footer{
  display: flex;
  color: #ffffff;
  background-color: black;
  width: 100%;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;

}

@media(max-width: 800px){
  .hideOnmobile{
    display: none;
  }
}

@media(min-width:425) {
    .main{
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #contactForm {
      padding: 10px;
  }
  #contactForm input, #contactForm textarea {
      padding: 10px;
  }
  .main{
    height: 700px;
    display: block;
    
  }
  .main-section{
    height: 280px;
    padding-top: 80px;
    width: 100%;
  }
  .main-section h1{
    font-weight: 500;
    font-size: larger;
  }
  .main-section p{
    font-weight: bolder;
    font-size: large;
  }
  .main-section p i{
    font-weight: normal;
  }

  
  .main-section2{
    width: 100%;
  }
  .main-image{
    height: 360px;
  }

  .skills{
    height: 800px;
  }

  .box1{
    display:flex ;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 123px;
    width: 70px;
  }
  .s-box{
    width: 85px;
    height:120px ;
  }
  .s-box h4{
    width: 85px;
    font-size: smaller;
    text-align: center;
    font-weight: normal;
  }
  
  .showcase{
    height: 840px;
  }
  .gallery{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
  }
  .gallery img{
    border: none;
    width: 171px;
    height: 227px;
  }



}






